[submodule "dotnet-imgup"]
	path = dotnet-imgup
	url = https://github.com/rohith/dotnet-imgup.git
[submodule "Blazui"]
	path = Blazui
	url = https://github.com/wzxinchen/Blazui.git
[submodule "dotnet-tools"]
	path = dotnet-tools
	url = git@github.com:lindexi/dotnet-tools.git
[submodule "prometheus-net.DotNetRuntime"]
	path = prometheus-net.DotNetRuntime
	url = https://github.com/djluck/prometheus-net.DotNetRuntime.git
[submodule "MediaWPF"]
	path = MediaWPF
	url = https://github.com/qian-o/MediaWPF.git
[submodule "StevenGieselBlog"]
	path = Blog/StevenGieselBlog
	url = https://github.com/linkdotnet/Blog.git
[submodule "CloudFileUriTool"]
	path = CloudFileUriTool
	url = https://github.com/Kybs0/CloudFileUriTool.git
[submodule "App/LightNotePad/Lib/LightTextEditorPlus"]
	path = App/LightNotePad/Lib/LightTextEditorPlus
	url = git@github.com:dotnet-campus/LightTextEditorPlus.git
