[submodule "D2dControl"]
	path = D2dControl
	url = https://github.com/dalance/D2dControl.git
[submodule "WmTouchDevice"]
	path = WmTouchDevice
	url = https://github.com/jaytwo/WmTouchDevice.git
[submodule "Json实体类驼峰名称转化器/JsonModelConvert"]
	path = Json实体类驼峰名称转化器/JsonModelConvert
	url = https://github.com/yinghualuowu/JsonModelConvert.git
[submodule "dotnet-imgup"]
	path = dotnet-imgup
	url = https://github.com/rohith/dotnet-imgup.git
[submodule "Blazui"]
	path = Blazui
	url = https://github.com/wzxinchen/Blazui.git
[submodule "dotnet-tools"]
	path = dotnet-tools
	url = git@github.com:lindexi/dotnet-tools.git
[submodule "Advanced-Algorithms"]
	path = Advanced-Algorithms
	url = https://github.com/justcoding121/Advanced-Algorithms.git
[submodule "prometheus-net.DotNetRuntime"]
	path = prometheus-net.DotNetRuntime
	url = https://github.com/djluck/prometheus-net.DotNetRuntime.git
[submodule "SmartSql-Docs"]
	path = SmartSql-Docs
	url = https://github.com/Smart-Kit/SmartSql-Docs.git
[submodule "MediaWPF"]
	path = MediaWPF
	url = https://github.com/qian-o/MediaWPF.git
[submodule "StevenGieselBlog"]
	path = Blog/StevenGieselBlog
	url = https://github.com/linkdotnet/Blog.git
[submodule "CloudFileUriTool"]
	path = CloudFileUriTool
	url = https://github.com/Kybs0/CloudFileUriTool.git
[submodule "wizard-cinema"]
	path = wizard-cinema
	url = https://github.com/ElderJames/wizard-cinema.git
