@page "/post/{blogName}"
@model Blog.Pages.PostModel
@using Microsoft.AspNetCore.Components;


<div class="col-md-9 col-xs-12 full">

    <div class="post-content well" style="word-break: break-all;">
        <article class="content">
            <div class="post">
                <component type="typeof(MarkupBlog)" render-mode="ServerPrerendered"
                           param-HtmlContent=@Model.HtmlContent />
            </div>
        </article>
    </div>
</div>


