<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="ScrimpNet.Security.localHost" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=sa;Initial Catalog=ScrimpNet;Data Source=.\SQLEXPRESS"/>
	</connectionStrings>
	<appSettings>
		<add key="ScrimpNet.Application.Environment" value="localHost"/>
		<add key="ScrimpNet.Application.Name" value="WcfDemo"/>
	</appSettings>
	<system.web>
		<authentication mode="Forms" />
		<membership defaultProvider="scrimpNetMembershipProvider">
			<providers>
				<clear/>
				<add name="scrimpNetMembershipProvider"
   type="ScrimpNet.Security.SqlProviders.ScrimpNetSqlMembershipProvider,ScrimpNet.Security.DotNet"
   connectionStringName="ScrimpNet.Security.localHost"
   applicationName="WcfDemo"
   enablePasswordRetrieval="false"
   enablePasswordReset="true"
   requiresQuestionAndAnswer="true"
   requiresUniqueEmail="true"
   minRequiredPasswordLength="3"
   minRequiredNonalphanumericCharacters="1"
   passwordFormat="Clear"/>
			</providers>
		</membership>
		<roleManager defaultProvider="scrimpNetRoleProvider" enabled="true">
			<providers>
				<clear/>
				<add name="scrimpNetRoleProvider"
   type="ScrimpNet.Security.SqlProviders.ScrimpNetSqlRoleProvider,ScrimpNet.Security.DotNet"
   connectionStringName="ScrimpNet.Security.localHost"
   applicationName="WcfDemo"/>
			</providers>
		</roleManager>
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="NewBinding0"/>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="customBehavior">
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="ScrimpNet.Security.Core.WcfCoreSecurity" behaviorConfiguration="customBehavior">
				<endpoint binding="basicHttpBinding" bindingConfiguration="NewBinding0" contract="ScrimpNet.Security.Contracts.IWcfSecurityService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>