#include <windows.h>
#include <winver.h>

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

1 VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DRV
 FILESUBTYPE VFT2_DRV_INPUTMETHOD
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "XiaoXi\0"
            VALUE "FileDescription", "XiaoXi Input Method\0"
            VALUE "FileVersion", "1.0.0.0\0"
            VALUE "InternalName", "XiaoXiIme\0"
            VALUE "OriginalFilename", "XiaoXiIme.ime\0"
            VALUE "ProductName", "XiaoXi IME\0"
            VALUE "ProductVersion", "1.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
