@page "/"
@using System.IO
@using BlazorInputFile
@using System.Net.Http
@inject HttpClient Http

<h1>Hello, world!</h1>

<p>Ip List</p>

<p>@IpList</p>

<SurveyPrompt Title="How is Blazor working for you?" />

<InputFile OnChange="HandleSelection" />

<p>@Status</p>

@code 
{
    protected override async Task OnInitializedAsync()
    {
        IpList = await Http.GetStringAsync($"{Url}FileUpload");
    }

    private const string Url = "http://192.168.10.104:5000/";

    string IpList { set; get; }

    string Status { set; get; }

    async Task HandleSelection(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();

        if (file != null)
        {
            var casnisHoubou = new MultipartFormDataContent();

            var taykiHerniCeawerenel = new StringContent(file.Name);
            casnisHoubou.Add(taykiHerniCeawerenel, "Name");

            var tobemmanuCamuCaivi = new StreamContent(file.Data);
            casnisHoubou.Add(tobemmanuCamuCaivi, "File", "File");

            Status = $"Finished loading {file.Size} bytes from {file.Name}";

            var httpResponseMessage = await Http.PostAsync($"{Url}FileUpload/UploadFile", casnisHoubou);

            Status = await httpResponseMessage.Content.ReadAsStringAsync();
        }
    }
}
