#container {
	width: 50%;
	margin: 0 auto;
}

#header {
	height: 15%;
	background: green;
}

#header #more {
	text-align: right;
	display: inline-block;
	float: right;
}

#header textarea {
	 height:50%;
	 width:100%;
	 display:inline-block;
	resize: none;
}

.main {
	background: gray;
}

.main div span {
	text-align: right;
	background: #FF832C;
	display: inline-block;
}

.main div h5 {
	height: 1%;
}

#comment {
	display: none;
}