#container {
	width: 50%;
	margin: 0 auto;
}

#head {
	height: 10%;
	background: yellow;
	line-height: 350%;
}

.main {
	background: gray;
}

.main span {
	margin-top: 2%;
	background: green;
	width: 25%;
	margin-left: 20%;
	margin-right: 3%;
	text-align: right;
	display: inline-block;
}