#container {
	width: 50%;
	margin: 0 auto;
	background: gray;
}

.main {
	margin-bottom: 1.5%;
}

span {
	width: 100px;
	height: 20px;
	margin-top: 2%;
	margin-left: 20%;
	background: gray;
	text-align: right;
	display: inline-block;
}