<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\logs\aspnettest_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="c:\logs\aspnettest_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="ScrimpNet.Application.Key" value="WcfClientTests" />
    <add key="ScrimpNet.Logging.Default.LogFolder" value="c:\logs" />
    <add key="ScrimpNet.SecurityServer.Url" value="http://localhost:3679/SecurityService.svc" />
    <add key="ScrimpNet.Security.ServiceCredential" value="096CBD12-8B60-44D7-89C7-91B20C8BAD09" />
    <add key="ScrimpNet.Security.AuthenticationKey" value="096CBD12-8B60-44D7-89C7-91B20C8BAD09"/>
    <add key="ScrimpNet.Security.EncryptionKey" value="096CBD12-8B60-44D7-89C7-91B20C8BAD09"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    
    <!--
    =================================================================
    * WARNING * WARNING * WARNING *
    
    These values are for testing purposes only.  Be sure to set
    attributes to more appropriate values for production; especially:
      usersIsOnLineTimeWindow (default: 20)
      enablePasswordRetrieval (default: false)
      passwordFormat (default: Hashed)
      passwordAttemptWindow (default: 10)
      maxInvalidPasswordAttempts (default: 5)defaultMembershipProvider
    =================================================================
    -->
    <membership defaultProvider="scrimpNetMembershipProvider">
      <providers>
        <clear/>
        <add name="scrimpNetMembershipProvider"
             type="ScrimpNet.Security.WcfProviders.WcfMembershipProvider,ScrimpNet.Security.DotNet"
             serviceUri="{%app:ScrimpNet.SecurityServer.Url%}"
             authenticationKey="{%app:ScrimpNet.Security.AuthenticationKey%}"
             encryptionKey="{%app:ScrimpNet.Security.EncryptionKey%}"
             />
		  <add name="scrimpNetMembershipProvider"
             type="ScrimpNet.Security.WcfProviders.WcfMembershipProvider,ScrimpNet.Security.DotNet"
             serviceUri="{%app:ScrimpNet.SecurityServer.Url%}"
             authenticationKey="{%app:ScrimpNet.Security.AuthenticationKey%}"
             encryptionKey="{%app:ScrimpNet.Security.EncryptionKey%}"
             />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SecurityServiceRoleProvider">
      <providers>
        <clear/>
        <add name="SecurityServiceRoleProvider"
             type="ScrimpNet.Security.WcfProviders.WcfRoleProvider,ScrimpNet.Security.DotNet"
             serviceUri="{%app:ScrimpNet.SecurityServer.Url%}"
             />
        <!-- <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" /> -->
      </providers>
    </roleManager>
    
  </system.web>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="true"
        logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings />
    <client>
      <endpoint binding="basicHttpBinding" bindingConfiguration="" contract="ScrimpNet.Security.AspNet.WcfService.IWcfMembershipService" name="servicesEndPoint" kind="" endpointConfiguration="">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>