<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
 http://msdn.microsoft.com/en-us/library/ff648345.aspx
  
  ScrimpNet.Security Client Side Sample Configuration
  -->

<configuration>
  <connectionStrings>

  </connectionStrings>
  <appSettings>
	  
	<!--
	=================================================================
	ScrimpNet.Application.Environment (required)
	
	Required for any ScrimpNet library calls.  Can use the {% app:[keyName] %}
	to point to your actual environment variable
	=================================================================
	-->
    <add key="ScrimpNet.Application.Environment" value="localHost"/>

	  <!--
	=================================================================
	ScrimpNet.Application.Name (required)
	
	Required for any ScrimpNet library calls.  Can use the {% app:[keyName] %}
	to point to your actual application identifier
	=================================================================
	-->
    <add key="ScrimpNet.Application.Name" value="webDemo"/>

	  <add key="ScrimpNet.Diagnostics.LoggerLevels" value="Verbose"/> <!-- default at runtime should be -->
	  <!--
	=================================================================
	localHost.ScrimpNet.SecurityServer.Url (optional)
	
	Defines the url of the WCF Membership end-point.  I use a key
	here and reference it in <membership> section.  If you chose,
	you can use explict references in <membership> and skip this key.
	=================================================================
	-->
    <add key="localHost.ScrimpNet.SecurityServer.Url" value="http://localhost:3679/SecurityService.svc" />

	  <!--
	=================================================================
	ScrimpNet.SecurityServer.AuthenticationKey (optional)
	
	Defines a key that authorized the caller to access the membership
	service.  Used when exposing membership service on a public
	end-point.  This value is not currently used so any non-null value
	is valid.
	
	I use a key here and reference it in <membership> section.  If you chose,
	you can use explict references in <membership> and skip this key.
	=================================================================
	-->
    <add key="ScrimpNet.SecurityServer.AuthenticationKey" value="your authentication key" />

	  <!--
	=================================================================
	ScrimpNet.SecurityServer.AuthenticationKey (optional)
	
	Defines a "password" to encrypt the sensitive content of data being sent
	over-the-wire.  For future use.  To secure the channel
	use one of the WCF encryption strategies and/or run over SSL
	
	This value is not currently used so any non-null value
	is valid.
	
	I use a key here and reference it in <membership> section.  If you chose,
	you can use explict references in <membership> and skip this key.
	=================================================================
	-->
    <add key="ScrimpNet.SecurityServer.EncryptionKey" value="your encryption key" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership defaultProvider="SecurityServiceMembershipProvider"> <!-- standard .net element -->
      <providers>
        <clear/>
		  <!--
		=================================================================
		SecurityServiceMembershipProvider
	
		Defines a membership provider.  See MSDN for help in configuring membership providers
		
		Name:	Programmatic name to reference this provider.  Can be any reasonable non-empty value.
		Type:	Fully qualified type,assembly of provider.  
		serviceUri:	WCF end-point that this application will connect to for authentication/authorization
		authenticationKey: Unique service key that authenticates this application with service. (not used)
		encryptionKey: Unique 'password' that encrypts certain data before transmitting it to WCF. (not used)
		=================================================================
		-->
        <add name="SecurityServiceMembershipProvider"
             type="ScrimpNet.Security.WcfProviders.WcfMembershipProvider,ScrimpNet.Security.DotNet"
             serviceUri="{%app:{env}.ScrimpNet.SecurityServer.Url%}"
             authenticationKey="{%app:ScrimpNet.SecurityServer.AuthenticationKey%}"
             encryptionKey="{%app:ScrimpNet.SecurityServer.EncryptionKey%}"
             />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SecurityServiceRoleProvider">
      <providers>
        <clear/>
		  <!--
		=================================================================
		SecurityServiceRoleProvider
	
		Defines a role provider.  See MSDN for help in configuring role providers
		
		Name:	Programmatic name to reference this provider.  Can be any reasonable non-empty value.
		Type:	Fully qualified type,assembly of provider.  
		serviceUri:	WCF end-point that this application will connect to for role management.  Like same as membership
		authenticationKey: Unique service key that authenticates this application with service. (not used)
		encryptionKey: Unique 'password' that encrypts certain data before transmitting it to WCF. (not used)
		=================================================================
		-->
        <add name="SecurityServiceRoleProvider"
             type="ScrimpNet.Security.WcfProviders.WcfRoleProvider,ScrimpNet.Security.DotNet"
             serviceUri="{%app:{env}.ScrimpNet.SecurityServer.Url%}"
             authenticationKey="{%app:ScrimpNet.SecurityServer.AuthenticationKey%}"
             encryptionKey="{%app:ScrimpNet.SecurityServer.EncryptionKey%}"
             />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
