<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ScrimpNet.Application.Environment" value="some environment value" />
    <add key="ScrimpNet.Application.Key" value ="some unique application key" />
    
    <!--
    =================================================================
    Optional fields
    =================================================================
    -->
    <add key="ScrimpNet.Encryption.KeyFile" value=""/>
    <add key="ScrimpNet.Logging.LogLevels" value="Warning, Error, Critical"/>
    <add key="ScrimpNet.Logging.IsLastChanceLogEnabled" value="yes"/>
    <add key="ScrimpNet.Logging.LastChanceLogFile" value="{app}.LastChanceLog"/>
    <add key="ScrimpNet.Logging.LastChanceLogFolder" value=""/>
    <add key="ScrimpNet.Logging.Default.TimestampFormat" value="yyyyMMdd"/>
    <add key="ScrimpNet.Logging.Persister" value="ScrimpNet.Diagnostics.InternalLogFilePersister,ScrimpNet.Core"/>
    <add key="ScrimpNet.Logging.Default.LogFolder" value=""/>
    <add key="ScrimpNet.Logging.Default.FilePrefix" value="{app}.Log.{ts}"/>
    <add key="ScrimpNet.Logging.Default.MaxFileSizeMb" value="5"/>
    <add key="ScrimpNet.Logging.Default.FileExtension" value="log"/>
    
  </appSettings>
</configuration>