@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration;

<div class="col-md-3 col-sm-4 col-xs-12 site-info-area">
    <div class="row-picture">
        <a href="/">
            <img id="about" class="logo-img" src="/avatar.png" height="75px" width="75px">
        </a>
    </div>
    <div class="row-details">
        <h4 class="list-group-item-heading">@Configuration["Title"]</h4>
        <p class="list-group-item-text">Windows 10 Developer</p>
        @* {% include social_links.html %} *@
    </div>
    <div class="navbar-header pull-right">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-2x fa-bars"></i>
        </button>
    </div>
</div>



@code
{

}
