<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-material-design.min.css" />
    @* <link rel="stylesheet" href="/css/fontawesome/font-awesome-css.min.css" /> *@
    <link rel="stylesheet" href="/css/main.css" />
    <!-- Custom Fonts -->
    @* <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css"> *@

    <!-- FontAwesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/thickbox.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
